[submodule "includes/tiny-cuda-nn"]
	path = includes/tiny-cuda-nn
	url = https://github.com/NVLabs/tiny-cuda-nn.git
[submodule "includes/eigen"]
	path = includes/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "includes/stb"]
	path = includes/stb
	url = https://github.com/nothings/stb.git
