[submodule "includes/tiny-cuda-nn"]
	path = includes/tiny-cuda-nn
	url = https://github.com/NVLabs/tiny-cuda-nn.git
[submodule "includes/json"]
	path = includes/json
	url = https://github.com/nlohmann/json.git
[submodule "includes/eigen"]
	path = includes/eigen
	url = https://gitlab.com/libeigen/eigen.git
